<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="d405_link">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.033794 0.03171 0.050026"
        rpy="0 0 0" />
      <mass
        value="0.035381" />
      <inertia
        ixx="8.5948E-06"
        ixy="6.3264E-07"
        ixz="-4.704E-13"
        iyy="1.6063E-05"
        iyz="-3.6616E-13"
        izz="8.6805E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://d405_link/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://d405_link/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>