<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter  -0.0089242 -1.617E-09 -0.0023401-->
<robot name="connect_d405_link" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="connect_d405_link" params="parent *origin">

    <joint name="connect_d405_base_link_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="connect_d405_base_link" />
    </joint>

    <link name="connect_d405_base_link">
      <inertial>
        <origin
          xyz="0 0 0.25"
          rpy="0 0 0" />
        <mass
          value="0.035381" />
        <inertia
          ixx="8.5948E-06"
          ixy="-4.721E-13"
          ixz="6.3264E-07"
          iyy="8.6805E-06"
          iyz="-3.6517E-13"
          izz="1.6063E-05" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://d405_link/meshes/base_link.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.79216 0.81961 0.93333 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://d405_link/meshes/base_link.STL" />
        </geometry>
      </collision>
    </link>
    </xacro:macro>
</robot>