<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dual_panda">
  <xacro:arg name="arm_id_1" default="left_panda" />
  <xacro:arg name="arm_id_2" default="right_panda" />

  <xacro:include filename="$(find franka_description)/robots/common/franka_arm.xacro"/>
  <xacro:include filename="$(find franka_description)/robots/common/franka_hand.xacro"/>

  <link name="base"/>

  <!-- Panda left arm with hand -->
  <xacro:franka_arm arm_id="$(arg arm_id_1)" connected_to="base"  xyz="0 0.25 0" safety_distance="0.03" joint_limits="${xacro.load_yaml('$(find franka_description)/robots/panda/joint_limits.yaml')}"/>
  <xacro:franka_hand arm_id="$(arg arm_id_1)" rpy="0 0 ${-pi/4}" connected_to="$(arg arm_id_1)_link8" safety_distance="0.03"/>

  <!-- Panda right arm with hand -->
  <xacro:franka_arm arm_id="$(arg arm_id_2)" connected_to="base"  xyz="0 -0.25 0" safety_distance="0.03" joint_limits="${xacro.load_yaml('$(find franka_description)/robots/panda/joint_limits.yaml')}"/>
  <xacro:franka_hand arm_id="$(arg arm_id_2)" rpy="0 0 ${-pi/4}" connected_to="$(arg arm_id_2)_link8" safety_distance="0.03"/>

</robot>